<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Signup
    <form method="post" action="/signup">
        Name <input type="text" id="user_name" name="user_name"><br>
        Email <input type="text" id="user_email" name="user_email"><br>
        Alert <input type="text" id="user_alert" name="user_alert"><br>
        Password <input type="text" id="user_password" name="user_password"><br>
        <input type="submit" value="Submit">
    </form> 
    Login
    <form method="post" action="/login">
        Name <input type="text" id="user_name" name="user_name"><br>
        Password<input type="text" id="user_password" name="user_password"><br>
        <input type="submit" value="Submit">
    </form> 

</body>
</html>